:local .list {
  position: relative;
  display: block;
  padding: 0.27rem;
  margin-top: 0.32rem;
  background: #fff;
}
:local .link::after {
  content: ' ';
  display: inline-block;
  height: 8px;
  width: 8px;
  border-width: 2px 2px 0 0;
  border-color: #c9c9c9;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
  top: 60%;
  right: 6px;
}
:local .time {
  margin-bottom: 0.32rem;
  font-size: 11px;
  color: rgba(38, 38, 40, 0.4);
}
:local .info {
  display: flex;
  align-items: center;
}
:local .name {
  flex: 1;
  padding-left: 0.13rem;
  font-size: 16px;
  font-weight: bold;
  color: #262628;
  line-height: 1.5;
}
:local .number {
  flex: 1;
  padding-right: 0.4rem;
  font-size: 24px;
  color: #d9ba04;
  line-height: 1.5;
  text-align: right;
}
:local .in .number {
  color: #43bd19;
}
