:local .item {
  margin-bottom: 0.27rem;
  display: flex;
  padding: 0.32rem;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
:local .hd {
  margin-right: 10px;
  width: 2.03rem;
  height: 2.03rem;
  overflow: hidden;
}
:local .hd img {
  display: block;
  width: 100%;
  height: 100%;
}
:local .bd {
  flex: 1;
}
:local .bd h4 {
  margin-bottom: 0.16rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 700;
  color: #17171a;
  overflow: hidden;
  min-height: 48px;
  text-overflow: ellipsis;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
}

:local .region {
  display: flex;
  align-items: center;
}
:local .price {
  flex: 1;
  font-size: 16px;
}
:local .button {
  flex: 1;
  text-align: right;
}
:local .btnAdd,
:local .btnMinus {
  display: inline-block;
  width: 0.65rem;
  height: 0.65rem;
  line-height: 0.62rem;
  text-align: center;
  border: 1px solid #b4b4b4;
  color: #b4b4b4;
  border-radius: 100%;
  vertical-align: middle;
  font-size: 24px;
}
:local .btnAdd {
  color: #333;
  background: #deb96b;
  border: 1px solid #deb96b;
}
:local .quantity {
  display: inline-block;
  font-size: 15px;
  min-width: 0.8rem;
  height: 0.65rem;
  line-height: 0.65rem;
  text-align: center;
  vertical-align: middle;
}
