:local .main {
  background-color: rgba(38, 38, 40, 0.9);
  background-image: url('./join-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
:local .header {
  width: 100%;
  height: 1.97rem;
}
:local .block {
  width: 1.97rem;
  height: 1.97rem;
  background-image: linear-gradient(-180deg, #deb96b 0%, #a07f52 100%);
  float: left;
}
:local .title {
  padding-left: 2.88rem;
  line-height: 1.97rem;
  color: #fff;
}
:local .title h4 {
  font-size: 20px;
}
:local .body {
  font-size: 20px;
}
@svg 1px-border {
  height: 2px;
  @rect {
    fill: var(--color, black);
    width: 100%;
    height: 50%;
  }
}
:local .body form {
  padding: 0.64rem 1.6rem;
}
:local .formItem {
  position: relative;
  margin-bottom: 0.59rem;
  background-image: svg(1px-border param(--color #8a8a8a));
  background-repeat: no-repeat;
  background-position: bottom left;
}
:local .error {
  background-image: svg(1px-border param(--color #f50));
}
:local .formItem > label {
  display: block;
  font-size: 11px;
  color: #8a8a8a;
}
:local .formItem > input {
  padding: 0.21rem 0;
  display: block;
  width: 100%;
  color: #fff;
  border: none;
  font-size: 15px;
  background: transparent;
}
:local .sendMsgBtn {
  position: absolute;
  right: 0;
  top: 9px;
  width: 1.39rem;
  height: 0.75rem;
  background: transparent;
  border: 1px solid #8a8a8a;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
}
:local .sendMsgBtn:disabled {
  background: rgba(255, 255, 255, 0.2);
  color: #8a8a8a;
  cursor: not-allowed;
  border-color: #8a8a8a;
}
:local .formItem > input::-webkit-input-placeholder {
  color: #8a8a8a !important;
}
:local .formItem > select {
  padding: 0.21rem 0;
  display: block;
  width: 100%;
  color: #fff;
  border: none;
  font-size: 15px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAQElEQVQ4y2NgGAXDA3R+6PqPBN8T1NA1AUXDBGLsuABT3nmBKEe1K0Cc1fmhXYFYfwSANQSQ4vWGzobRBDCsAADaRi6RFJbEpwAAAABJRU5ErkJggg==')
    no-repeat scroll right center transparent;
}
:local .inputError {
  position: absolute;
  bottom: -18px;
  left: 0;
  color: #f50;
  font-size: 12px;
}
:local .extraTitle {
  padding-top: 0.32rem;
  margin-bottom: 0.53rem;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
:local .submitButton {
  padding-top: 0.27rem;
  text-align: center;
}
:local .submitButton button {
  display: inline-block;
  width: 3.2rem;
  height: 1.17rem;
  border: 2px solid #ffffff;
  border-radius: 100px;
  font-size: 12px;
  color: #fff;
  background: transparent;
}
:local .submitButton button:disabled {
  background: rgba(255, 255, 255, 0.2);
  color: #8a8a8a;
  cursor: not-allowed;
  border-color: #8a8a8a;
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
  :local .inputError {
    bottom: -16px;
  }
  :local .sendMsgBtn {
    font-size: 10px;
  }
}
