html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  outline: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}
html,
body {
  height: 100%;
}
body {
  font-size: 14px;
  font-family: -apple-system, 'Helvetica Neue', Arial, 'PingFang SC', 'Hiragino Sans GB', 'STHeiti', 'Microsoft YaHei',
    'Microsoft JhengHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'Source Han Sans CN', 'Noto Sans SC',
    'Source Han Sans TC', 'Noto Sans CJK TC', 'WenQuanYi Micro Hei', SimSun, sans-serif;
}
* {
  box-sizing: border-box;
}
#root {
  height: 100%;
}
input[type='button'],
input[type='submit'],
input[type='reset'],
button {
  -webkit-appearance: none !important;
}
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
.v-1px-l,
.v-1px-r,
.v-1px-t,
.v-1px-b,
.v-1px-tb,
.v-1px {
  position: relative;
}
.v-1px-l::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-left: 1px solid #8a8a8a;
  color: #8a8a8a;
  transform-origin: 0 0;
  transform: scaleX(0.5);
}
.v-1px-r::after {
  content: ' ';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid #8a8a8a;
  color: #8a8a8a;
  transform-origin: 100% 0;
  transform: scaleX(0.5);
}
.v-1px-t::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #8a8a8a;
  color: #8a8a8a;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.v-1px-b::after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #8a8a8a;
  color: #8a8a8a;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.v-1px-tb::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #8a8a8a;
  color: #8a8a8a;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.v-1px-tb::after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #8a8a8a;
  color: #8a8a8a;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.v-1px::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 1px;
  border: 1px solid #8a8a8a;
  color: #8a8a8a;
  height: 200%;
  transform-origin: left top;
  transform: scale(0.5);
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.main {
  width: 100%;
  min-height: 100%;
}
.show {
  display: block !important;
}
.hidden {
  display: none !important;
}
.am-pull-to-refresh-indicator {
  font-size: 14px;
}